.example-container {
    display: flex;
    flex-direction: column;
 
  }
  
  .frequencia-card {
    width: 400px;
  }
  .frequencia-card-header-top {
    width: 100%;
    height: 8em; 
  }



  .demo-tab-group {
    border: 1px solid #e8e8e8;
    
  }
  
  .demo-tab-content {
    padding: 16px;
  }
  .mat-folha{
    height: 100%;
    width: 100%; 
  }