<app-page-header [heading]="'RECURSOS CPCX'" [icon]="'fa-desktop'"></app-page-header>
<banner-info></banner-info>



<mat-card>
    <h1 align="center">Seja Bem-Vindo!</h1>
    <br>
    <mat-card>
            <h3 class="recuo">A plataforma de recursos do C&acirc;mpus Coxim, tem como objetivo centralizar informa&ccedil;&otilde;es do Est&aacute;gio Obrigat&oacute;rio e do Sistema de Gerenciamento de T&eacute;cnico em Inform&aacute;tica - SGTI.</h3>
            <h3 class="recuo">Esta plataforma est&aacute; em processo de desenvolvimento e qualquer d&uacute;vida a respeito da mesma, entrar em contato pelo email <strong>rafael.viana@ufms.br</strong>.</h3>
    </mat-card>
</mat-card>