.custom-card-topo {
  background-color: rgb(50, 150, 220);
}

.custom-card{
  background-color: rgba(53, 52, 52, 0.87);
}  

.info{
  .mat-card-subtitle {
    font-size: 20px;
   
  }
  margin-top:2%;
  margin-left:5%;
}