<div class="panel panel-default profile-area">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
        <div>
            <h1>Trocar Senha</h1>
        </div>

    </div>

    <form [formGroup]="formG" lass="form-inline" (ngSubmit)="UpdatePassword()">
        <div class="container">
            <div class="col md-12">
                <div class="col md-9">
                    <div class="row">

                        <div class="col md-3">

                            <div class="form-group">
                                <label class="col-form-label" [ngClass]="formErrors.senha_atual || atual.value ==''? 'alert alert-danger' : 'alert alert-success' ">Atual</label>
                                <input type="password" id="senha_atual" class="form-control" formControlName="senha_atual" placeholder="Atual" name="senha_atual"
                                    required #atual>

                            </div>
                        </div>

                        <div class="col md-3">

                            <div class="form-group">
                                <label class="col-form-label" [ngClass]="formErrors.senha_nova ||  password1.value != password2.value ||  password1.value =='' ? 'alert alert-danger' : 'alert alert-success' ">Nova</label>
                                <input type="password" id="senha_nova" class="form-control " formControlName="senha_nova" placeholder="Nova" name="senha_nova"
                                    required #password1>


                            </div>
                        </div>

                        <div class="col md-3">
                            <div class="form-group">
                                <label class="col-form-label " [ngClass]="formErrors.senha_confirma ||  password1.value != password2.value ||  password2.value =='' ? 'alert alert-danger' : 'alert alert-success'">Confirmar</label>
                                <input type="password" id="senha_confirma" class="form-control " formControlName="senha_confirma" placeholder="Confirma"
                                    name="senha_confirma" required #password2>

                            </div>

                        </div>
                        <div class="col md-3">
                            <div class="form-group">
                                <label class="col-form-label " [ngClass]="formErrors.senha_atual || formErrors.senha_nova || formErrors.senha_confirma ||  password1.value != password2.value ||  password2.value ==''  ||  password1.value =='' ||  atual.value =='' ? 'alert alert-danger' : 'alert alert-success'">OK</label>
                                <div *ngIf="formErrors.senha_atual || formErrors.senha_nova || formErrors.senha_confirma ||  password1.value != password2.value  ||  password1.value == '' || password2.value== '' ">
                                    <button type="submit" class="btn btn-primary" disabled>TROCAR</button>
                                </div>
                                <div *ngIf="!formErrors.senha_atual && !formErrors.senha_nova && !formErrors.senha_confirma && password1.value == password2.value && password1.value !='' &&password2.value!='' ">
                                    <button type="submit" class="btn btn-primary">TROCAR</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </form>
</div>