.custom-card-executando {
    background-color: rgb(253, 222, 157);
  }
  .custom-card-pronto {
    background-color: rgb(144, 202, 242);;
  }
  .custom-card-falta {
    background-color:  rgb(245, 175, 184);
  }

  .custom-card-topo {
    background-color:  rgb(238, 238, 238);
  }